.header {
  display: flex;
  flex-direction: row;
}

.header > div {
  margin-left: 10px;
  flex-grow: 1;
}

.header .description {
  color: gray;
  font-size: 18px;
}

.no_project {
  display: flex;
  justify-content: center;
  text-align: center;
}

.upsert_project {
  text-align: end;
}

.github_card {
  width: 98%;
  margin: 50px auto;
  padding: 20px 10px;
  border-radius: 5px;
  border: #ddd 1px solid;
}

.github_card .header {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
