.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.milestone_header {
    display: flex;
    justify-content: space-between;
}

.list_item {
    margin: 2rem 0;
}

.list_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form_label {
    font-size: 14px;
    font-weight: bold;
}

.spacer_xsm {
    width: 1rem;
}

.spacer_sm {
    width: 4rem;
}

.meeting_time {
    color: #02c39a;
    margin-top: 1rem;
    font-size: 16px;
}

.meeting_member_count {
    font-weight: bold;
}