.ques_content_header {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 14px;
    /* margin-top: -10px; */
}

.ques_content_description{
    font-size: 15px;
}

.answer_date{
    font-style: italic;
}

.ques_label{
    text-align: right;
}

.ques_screen{
    margin-bottom: 25px;
}

.ques_category{
    align-content: center;
}

.ques_screen_header{
    margin-bottom: 50px;
}

.post_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.spacer_min {
    height: 2rem;
}