/* .avatar {
  height: 20rem;
  width: 20rem;
} */
.spacer-1 {
  width: 1rem;
}

.v-spacer-2 {
  height: 2rem;
}

.v-spacer-4 {
  height: 4rem;
}

.divider-color {
  height: 3px;
  background-color: #028090;
  box-shadow: 2px 2px 4px #a1a1a1, -4px -4px 10px #f1f1f1;
}
