.logo {
  margin-left: 1rem;
  width: 8rem;
}

.nav-item {
  margin-right: 1rem;
  width: 80px;
  text-align: center;
  color: black;
}

.navbar {
  margin: 1rem;
}

.btn-login {
  color: red;
  background-color: red;
}
