/* blog screen */

.blog_container_right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-self: auto;
  position: relative;
  top: 0;
  left: 0;
  flex-grow: 1;
  scrollbar-color: blue;
  padding: 0px;
}

.blog_header {
  position: relative;
  width: 74.84vw;
  height: 25.83vw;
  left: 4.27vw;
  top: 4.23vw;
  order: 0;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 100px;
}

/*bolg icons*/

.blogicon {
  position: absolute;
  width: 9.52125vw;
  height: 6.5625vw;
  left: 5.39vw;
  top: 7.1875vw;
}

/*small square*/

.blogicon7 {
  position: absolute;
  height: 5.83vw;
  left: 0;
  right: 70.9375vw;
  top: 19.43vw;
}

/*small circle*/

.blogicon2 {
  position: absolute;
  height: 6.98vw;
  left: 17.34375vw;
  right: 50.52vw;
  top: 18.85vw;
}

/*blog text*/

.blogicon5 {
  position: absolute;
  height: 10.05vw;
  left: 21.35vw;
  right: 20.52vw;
  top: 8.18vw;
}

/*large circle*/

.blogicon6 {
  position: absolute;
  height: 9.01vw;
  left: 51.77vw;
  right: 14.0625vw;
  top: 0;
}

/*note book*/

.blogicon4 {
  position: absolute;
  height: 9.375vw;
  left: 65.47vw;
  right: 0;
  top: 9.58vw;
}

/*cross*/

.blogicon3 {
  position: absolute;
  height: 5.57vw;
  left: 51.77vw;
  right: 17.5vw;
  top: 20.26vw;
}

/*blog content*/

.blog_content {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  top: 10vw;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  order: 1;
  /* overflow: scroll; */
  /* align-self: auto; */
  /* flex-grow: 1; */
}

.blog_items_col {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
  width: 50vw;
  height: auto;
  left: 0;
  top: 0;
  margin: 0 0 50px 0;
}

/* blog row */

.blog_item {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 44.27vw;
  height: 26.3vw;
  /* overflow: auto; */
  left: 2.86vw;
  top: 0;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0 0 2.6vw 0;
}

/*Blog Date Bg*/

.blog_date_bg {
  position: relative;
  width: 8.85vw;
  height: 3.125vw;
  left: 0;
  top: 0;
  background: #F2F3F7;
  box-shadow: -6px -6px 6px #FFFFFF, 6px 6px 6px #BECDE2;
  border-radius: 0.83vw;
}

/* blog date */

.blog_date {
  position: relative;
  /* width: 120px; */
  height: 1.09375vw;
  left: calc(50% - 8.85vw/2);
  top: 1.015625vw;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375vw;
  line-height: 1.09375vw;
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #3B5266;
}

/*blog card*/

.blog_card {
  display: flex;
  flex-direction: column;
  padding: 0 1.82vw;
  position: relative;
  width: 33.33vw;
  height: 26.3vw;
  /* overflow: auto; */
  left: 2.08vw;
  top: 0;
  background: #F2F3F7;
  box-shadow: -6px -6px 6px #FFFFFF, 6px 6px 6px #BECDE2;
  border-radius: 2.08vw;
}

/*blog image*/

.blog_image {
  position: relative;
  height: 15.625vw;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 2.08vw 2.08vw 0 0;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0 0 0.78125vw 0;
}

/*blog card catergory*/

.blog_card_catergory {
  position: relative;
  height: 1vw;
  left: 0;
  /* right: 0; */
  top: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.83vw;
  line-height: 1vw;
  color: #028090;
  flex: none;
  order: 1;
  align-self: flex-start;
  margin: 0 0 0.78125vw 0;
}

/*post title*/

.post_title {
  position: relative;
  height: 1.46vw;
  left: 0;
  /* right: 35px; */
  top: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 1.46vw;
  color: #3B5266;
  flex: none;
  order: 2;
  align-self: flex-start;
  margin: 0 0 0.78125vw 0;
}

.post_meta {
  position: relative;
  height: auto;
  width: 29.6875vw;
  left: 0;
  top: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.83vw;
  line-height: 1.15vw;
  text-align: justify;
  color: #3B5266;
  flex: none;
  order: 3;
  align-self: flex-start;
  margin: 0 0 0.78125vw 0;
}

/* Author */

.post_author {
  position: relative;
  height: 1vw;
  /* left: 516px; */
  right: 0;
  top: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.83vw;
  line-height: 1vw;
  text-align: right;
  color: #3B5266;
  flex: none;
  order: 4;
  align-self: flex-end;
  margin: 0 0 0.78125vw 0;
}

/* blog right nav */

.blog_right_row {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
  /* width: 480px; */
  height: 60.73vw;
  left: 2.63vw;
  top: 0;
}

.blog_right_row .icon_btn {
  position: relative;
  /* width: 260px; */
  /* height: 60px; */
  left: 0;
  top: 0;
  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0 0 2.6vw 0;
}

.blog_right_row .icon_btn img {
  position: relative;
  height: 1.875vw;
  width: 1.875vw;
  left: -0.52vw;
  top: 0;
}

/*....blog catergory...*/

.blog_catergory, .blog_recent_posts, .blog_post_catergory, .blog_post_recent_posts {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  position: relative;
  /* height: 170px; */
  top: 0;
  left: 0;
  background: #F2F3F7;
  box-shadow: -6px -6px 6px #FFFFFF, 6px 6px 6px #BECDE2;
  border-radius: 2.08vw;
  flex: none;
  order: 1;
  align-self: center;
  margin: 0 0 2.6vw 0;
}

.blog_catergory, .blog_recent_posts {
  width: 25vw;
  padding: 1.82vw 1.40625vw;
}

.blog_post_catergory, .blog_post_recent_posts {
  width: 312px;
  padding: 35px 20px;
}

/*catergory title*/

.catergory_title1, .recent_blog_title1, .catergory_title2, .recent_blog_title2 {
  position: relative;
  width: 21.875vw;
  height: 1.04vw;
  left: 0;
  top: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.67vw;
  line-height: 1.04vw;
  display: flex;
  align-items: center;
  color: #3B5266;
  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0 0 1.82vw 0;
}

.catergory_title1, .recent_blog_title1 {
  width: 21.875vw;
}

.catergory_title2, .recent_blog_title2 {
  width: 272px;
}

/*catergory type*/

.catergory_types, .recent_posts_types {
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  display: flex;
}

/*catergory name*/

.catergory_name, .recent_post_title1, .recent_post_title2 {
  position: relative;
  /* max-width: 426px; */
  /* flex-grow: 0; */
  left: 0;
  top: 0;
  background: #F2F3F7;
  box-shadow: inset -6px -6px 6px #FFFFFF, inset 6px 6px 6px #BECDE2;
  border-radius: 0.625vw;
  margin: 0 0 1.82vw 0;
  display: flex;
}

.catergory_name {
  align-items: stretch;
  flex-basis: content;
  height: 2.08vw;
  width: auto;
}

.recent_post_title1 {
  flex-basis: 100%;
  width: 20.83vw;
  height: auto;
}

.recent_post_title2 {
  flex-basis: 100%;
  width: 272px;
  height: auto;
}

.catergory_name p, .recent_post_title1 p, .recent_post_title2 p {
  position: relative;
  /* width: auto; */
  /* max-width: 426px; */
  /* height: 20px; */
  /* left: 20px; */
  /* top: 10px; */
  margin: 0.52vw;
  /* right: 20px; */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.83vw;
  line-height: 1.04vw;
  display: flex;
  align-items: center;
  flex-basis: auto;
  color: #3B5266;
}

.catergory_name p {
  width: auto;
  /* max-width: 426px; */
  height: 1.04vw;
}

.recent_post_title1 p {
  width: 20.83vw;
  /* max-width: 426px; */
  height: auto;
}

.recent_post_title2 p {
  width: 252px;
  /* max-width: 426px; */
  height: auto;
}

/* blog details screen */

.blogdetails_container_right {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  align-self: auto;
  position: relative;
  top: 108px;
  left: 70px;
  flex-grow: 1;
}

.blog_post_content {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
}

.blog_post_content h2 {
  position: relative;
  left: 0;
  top: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.91vw;
  line-height: 2.6vw;
  display: flex;
  align-items: center;
  color: #3B5266;
  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0 0 50px 0;
}

/* blog image */

.blog_post_content img {
  position: relative;
  width: 54.68vw;
  height: 23.43vw;
  left: 0;
  top: 0;
  flex: none;
  order: 1;
  align-self: flex-start;
  margin: 0 0 50px 0;
}

/*blog content*/

.blog_post_content p {
  position: relative;
  width: 54.68vw;
  height: auto;
  left: 0;
  top: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.8vw;
  text-align: justify;
  color: #3B5266;
  flex: none;
  order: 2;
  align-self: center;
  margin: 0 0 50px 0;
}

.blog_post_right_row {
  display: flex;
  flex-direction: column;
  padding: 0;
  left: 70px;
  top: 110px;
  position: relative;
  height: auto;
}

.post_categories {
  display: flex;
  flex-direction: row;
  padding: 0px;
  position: relative;
  width: 54.68vw;
  height: auto;
  left: 0;
  top: 0;
  flex: none;
  order: 3;
  align-self: flex-start;
  margin: 0 0 30px 0;
}

.post_categories .post_category_label {
  position: relative;
  /* max-width: 426px; */
  /* flex-grow: 0; */
  left: 0;
  top: 0;
  /* background: #F2F3F7; */
  background: #BECDE2;
  /* box-shadow: inset -3px -3px 3px #FFFFFF, inset 3px 3px 3px #BECDE2; */
  border-radius: 8px;
  margin: 0 0 0.52vw 0;
  display: flex;
  align-items: stretch;
  flex-basis: content;
  /* height: 2.08vw; */
  width: auto;
}

.post_categories .post_category_label p {
  position: relative;
  /* width: auto; */
  /* max-width: 426px; */
  /* height: 20px; */
  /* left: 20px; */
  /* top: 10px; */
  margin: 5px;
  /* right: 20px; */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  flex-basis: auto;
  color: #3B5266;
  width: auto;
  /* max-width: 426px; */
  /* height: 1.04vw; */
}

.comments_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 54.68vw;
  height: auto;
  left: 0;
  top: 0;
  flex: none;
  order: 4;
  align-self: center;
  margin: 0 0 50px 0;
}

.comments_section button {
  position: relative;
  /* width: 135px; */
  /* height: 50px; */
  left: 0;
  top: 0;
  padding: 0;
  
  left: 0px;
  top: 0px;
  background: #F2F3F7;
  /* box-shadow: -6px -6px 6px #FFFFFF, 6px 6px 6px #BECDE2; */
  /* border-radius: 16px; */
  border: none;
  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
  color: #3B5266;
}

/* .pagination { */
  /* color: #3B5266; */
  /* position: relative; */
  /* top: 0; */
  /* float: left; */
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-basis: content; */
  /* align-self: center; */
  /* padding: 0; */
  /* text-decoration: none; */
  /* transition: background-color .3s; */
  /* margin: 0 0 50px 0; */
  /* order: 2; */
/* } */
/*  */
/* .pagination a { */
  /* float: left; */
  /* text-decoration: none; */
  /* transition: background-color .3s; */
  /* margin: 0 4px; */
/*  */
  /* height: 32px; */
  /* width: 32px; */
  /* padding: 5px 10px; */
  /* background: #F2F3F7; */
  /* box-shadow: -6px -6px 6px #FFFFFF, 6px 6px 6px #BECDE2; */
  /* border: none; */
  /* border-radius: 50%; */
  /* text-align: center; */
  /* font-family: Roboto; */
  /* font-style: normal; */
  /* font-weight: 500; */
  /* font-size: 14px; */
  /* line-height: 22px; */
  /* display: flex; */
  /* align-items: center; */
  /* align-self: center; */
  /* text-align: center; */
  /* color: #028090; */
/* } */

.pagination {
  position: relative;
  width: 100%;
  flex: none;
  order: 2;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  /* margin: 0px 100px; */
}