.footer-container {
  color: white;
  padding: 2rem 20rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  background: rgb(2, 128, 144);
  background: linear-gradient(
    90deg,
    rgba(2, 128, 144, 1) 0%,
    rgba(2, 195, 154, 1) 100%
  );
}

.social-container {
  margin: 0rem 2rem;
  height: 45px;
  width: 45px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 4px 4px 10px #1f1f1f, -4px -4px 10px #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
