* {
  margin: 0;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  display: flex;
  justify-content: center;
}

.spacer {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.end {
  justify-content: flex-end;
}

.container {
  height: 100%;
}
