* {
  margin: 0;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f3f7;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.center {
  display: flex;
  justify-content: center;
}

.spacer {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0 !important;
  padding: 0 !important;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.v-align {
  align-items: center;
}

.j-around {
  justify-content: space-around;
}

/* Should replace */

.container {
  margin-left: 0 !important;
  margin-right: 0 !important;
  height: max-content;
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  /* flex-grow: 1; */
}

.spacer-1 {
  width: 1rem; /* 16px */
}

.v-spacer {
  height: 1rem;
}

.v-spacer-2 {
  height: 2rem;
}

.v-spacer-3 {
  height: 3rem;
}

.v-spacer-4 {
  height: 4rem;
}

.v-spacer-5 {
  height: 5rem;
}

.v-spacer-6 {
  height: 6rem;
}

.v-spacer-7 {
  height: 7rem;
}

.v-spacer-8 {
  height: 8rem;
}

.v-spacer-9 {
  height: 9rem;
}

.v-spacer-10 {
  height: 10rem; /* 160px col-lg-1 */
}

/* Custom theme */

.online {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(2, 195, 154, 1);
}

.section {
  margin: 1rem 0rem;
}

.btn-primary {
  margin: 2.08vw;
  padding: 0.78vw 1.5625vw;
  cursor: pointer;
  background: #f2f3f7;
  box-shadow: -6px -6px 12px #ffffff, 6px 6px 12px #becde2;
  border-radius: 12px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.83vw;
  line-height: 1.04vw;
  color: #3b5266;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0 0 0.52vw 0;
}

.btn-primary:active {
  background: #f2f3f7;
  box-shadow: inset -6px -6px 12px #ffffff, inset 6px 6px 12px #becde2;
  border-radius: 12px;
}

.secondary_btn {
  display: flex;
  flex-direction: row;
  padding: 0.78vw 1.5625vw;
  background: linear-gradient(105.32deg, #028090 0%, #02c39a 100%);
  box-shadow: -6px -6px 6px #ffffff, 6px 6px 6px #becde2;
  border-radius: 12px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.83vw;
  line-height: 1.04vw;
  align-items: center;
  text-align: center;
  color: #f2f3f7;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0.52vw 0px;
  cursor: pointer;
}

.secondary_btn:active {
  box-shadow: inset 6px 6px 6px #015d69, inset -6px -6px 6px rgba(255, 255, 255, 0.25);
}

.margin-to-align {
  margin-left: 1rem;
}

.btn-alternate {
  margin: 4px;
  color: white;
  padding: 10px 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(108.12deg, #028090 0%, #02c39a 100%);
  box-shadow: -6px -6px 12px #ffffff, 6px 6px 12px #becde2;
  border-radius: 12px;
  max-width: 10rem;
}

.btn-alternate:hover {
  background: linear-gradient(108.12deg, #028090 0%, #02c39a 100%);
  box-shadow: inset 6px 6px 12px #015d69, inset -6px -6px 12px rgba(255, 255, 255, 0.25);
  border-radius: 12px;
}

.label-primary {
  /* margin: 10px; */
  padding: 8px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f2f3f7;
  box-shadow: -4px -4px 12px #ffffff, 4px 4px 12px #becde2;
  border-radius: 12px;
}

.card-primary {
  padding: 8px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f2f3f7;
  box-shadow: -6px -6px 12px #ffffff, 6px 6px 12px #becde2;
  border-radius: 12px;
}

.card-content {
  margin: 4px;
}

.card-header {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 1rem;
}

.group-item {
  margin: 0rem 1rem;
  padding: 2rem;
  min-width: 12rem;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f3f7;
  box-shadow: -6px -6px 12px #ffffff, 6px 6px 12px #becde2;
  border-radius: 12px;
}

.group-header {
  color: #1f1f1f;
  font-size: 18px;
}

/* Should update */
/* Profile picture */
.avatar {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background: #f2f3f7;
  box-shadow: -6px -6px 12px #ffffff, 6px 6px 12px #becde2;
}

/* Should update */
 /* Profile icon */
.avatar-mini {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background: #f2f3f7;
  box-shadow: -4px -4px 12px #ffffff, 4px 4px 12px #becde2;
}

/* Navbar */

.navbar {
  position: fixed;
  height: 4.167vw;
  top: 0;
  right: 0;
  background: #f2f3f7;
  z-index: 12;
}

/* 1920px public nav */

/* .nav_home { */

/* width: 100vw; */

/* left: 0; */

/* } */

/* 1600px public nav */

/* .nav_public { */

/* width: 83.33vw; */

/* left: 16.67vw; */

/* } */

/* 1600px private nav */

.nav_private {
  width: 83.33vw;
  left: 16.67vw;
}

/* 1920px public nav */

.menu_btn, .menu_btn_home {
  position: absolute;
  width: 2.5vw;
  height: 1.5625vw;
  left: 3.65vw;
  top: auto;
  background: #f2f3f7;
  box-shadow: -6px -6px 6px #ffffff, 6px 6px 6px #becde2;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* 1600px public and private nav */

.menu_btn_public, .menu_btn_private {
  display: none;
}

.menu_btn:hover {
  box-shadow: inset -6px -6px 6px #ffffff, inset 6px 6px 6px #becde2;
}

.menu_icon {
  position: relative;
  left: calc(50% - 1.94vw / 2);
  top: auto;
  width: 1.94vw;
  height: 0.7vw;
}

/* 1920px public nav */

.logo, .logo_home {
  position: relative;
  width: 9.375vw;
  height: 2.84vw;
  left: calc(50% - 9.375vw / 2 - 37.03vw);
  top: auto;
  cursor: pointer;
  z-index: 12;
}

/* 1600px public and private nav */

.logo_private, .logo_public {
  left: 0;
  display: none;
  visibility: hidden;
}

.search_bar {
  position: absolute;
  height: 2.08vw;
  width: 36.46vw;
  top: auto;
  background: #f2f3f7;
  box-shadow: inset -6px -6px 6px #ffffff, inset 6px 6px 6px #becde2;
  border-radius: 12px;
  border: none;
  padding: 1.04vw;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.73vw;
  line-height: 1.04vw;
  display: flex;
  align-items: center;
  text-align: left;
  color: #3b5266;
}

/* 1920px public nav */

/* .search_bar_home { */

/* left: 20.3125vw; */

/* } */

/* 1600 public and private nav */

.search_bar_public, .search_bar_private {
  left: 3.65vw;
}

.nav_signin_btn {
  position: absolute;
  top: auto;
  box-shadow: none;
}

/* 1920px public nav */

/* .nav_signin_btn_home { */

/* left: 81.5vw; */

/* } */

/* 1600px public nav */

/* .nav_signin_btn_public { */

/* left: 64.84vw; */

/* } */

/* 1600px private nav */

.nav_signin_btn_private {
  display: none;
  visibility: hidden;
}

.nav_register_btn {
  position: absolute;
  top: auto;
}

/* 1920px public nav */

/* .nav_register_btn_home { */

/* left: 90.1vw; */

/* } */

/* 1600px public nav */

/* .nav_register_btn_public { */

/* left: 73.44vw; */

/* } */

/* 1600px private nav */

.nav_register_btn_private {
  display: none;
  visibility: hidden;
}

/* 1600px private nav */

.private_nav_btn1 {
  position: absolute;
  left: 57.8125vw;
  top: auto;
}

/* 1600px private nav */

.private_nav_btn2 {
  position: absolute;
  left: 67.1875vw;
  top: auto;
}

/* 1600px private nav */

.profile_icon, .profile_icon_private {
  position: absolute;
  width: 2.6vw;
  height: 2.6vw;
  right: 3.65vw;
  top: auto;
}

/* 1920px or 1600px public nav */

/* .profile_icon_home, .profile_icon_public { */

/* display: none; */

/* visibility: hidden; */

/* } */

/* Side Nav */
.sidenav_container {
  position: sticky;
  width: 320px;
  height: 1080px;
  left: 0;
  top: 0; 
  background: #F2F3F7;
  box-shadow: inset -6px -6px 16px #BECDE2, inset 6px 6px 16px #FFFFFF;
  /* overflow: hidden; */
  align-self: auto;
  /* z-index: 6;  */
  /* display: none; */
  /* visibility: hidden; */
}

.sidenav_container img {
  position: relative;
  width: 180px;
  height: 54.58px;
  left: calc(50% - 180px/2);
  top: 30px;
  cursor: pointer;
}

.sidenav_items {
  position: relative;
  width: 250px;
  top: 60px;
  left: calc(50% - 250px/2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: space-between; */
}

.sidenav_items a button {
  flex-basis: 100%;
  top: 0;
  width: 100%;
  box-shadow: none;
  border-radius: 0;
  margin: 0 0 25px 0;
  cursor: pointer;
}

.sidenav_items a button:hover {
  box-shadow: -6px -6px 6px #FFFFFF, 6px 6px 6px #BECDE2;
  border-radius: 12px;
}

.sidenav_items a button:active {
  background: #f2f3f7;
  box-shadow: inset -6px -6px 12px #ffffff, inset 6px 6px 12px #becde2;
  border-radius: 12px;
}

/* when the navigated page in active */
.sidenav_items a button:on_active {
  background: #BECDE2;
  box-shadow: -6px -6px 6px #FFFFFF, 6px 6px 6px #BECDE2;
  border-radius: 12px;
}

/* Footer */

.footer-container {
  position: relative;
  width: 100%;
  height: 25vw;
  background: linear-gradient(111.19deg, #028090 0%, #02c39a 100%);
  box-shadow: -6px -6px 16px #ffffff;
  border-radius: 20px 20px 0px 0px;
  left: 0;
  right: 0;
  top: 0;
  /* margin-top: 100px; */
  bottom: 0vw;
  /* z-index: 12; */
  /* flex-shrink: 0; */
  /* display: none; */
}

.footer_grid_column {
  position: relative;
  width: 8.9vw;
  height: 17.2vw;
  /* left: 220px; */
  top: 4vw;
}

.footer_item_heading {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.67vw;
  line-height: 1.04vw;
  /* identical to box height, or 62% */
  display: flex;
  align-items: center;
  color: #f2f3f7;
  padding-bottom: 2.1vw;
}

.footer_column_item {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 1.04vw;
  /* identical to box height, or 83% */
  display: flex;
  align-items: center;
  color: #f2f3f7;
  padding-bottom: 1.25vw;
}

.modal {
  padding: 1rem;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0vw 0.5vw;
  width: 3.9vw;
  height: 3.9vw;
  background: #f2f3f7;
  box-shadow: 6px 6px 6px #015d69, -6px -6px 6px rgba(255, 255, 255, 0.25);
  border-radius: 12px;
}

.social_icon {
  width: 1.875vw;
  height: 1.875vw;
}

.fake-spacer {
  height: 52rem;
}

.btn-login {
  color: red;
  background-color: red;
}

.items-right {
  margin: 6rem;
}

.divider-color {
  height: 3px;
  background-color: #028090;
  box-shadow: 2px 2px 4px #a1a1a1, -4px -4px 10px #f1f1f1;
}

.menu-item {
  margin: 1rem;
  font-size: 14px;
  font-weight: 800;
  color: grey;
  cursor: pointer;
}

.selected {
  color: black;
  font-size: 24px;
  font-weight: 800;
}

.menu {
  margin-bottom: 1rem;
}

/* auth */

/* Vectors */

.cross {
  position: absolute;
  width: 10vw;
  height: 10vw;
  left: 5vw;
  top: 5vw;
}

.double_circle {
  position: absolute;
  width: 9vw;
  height: 9vw;
  left: 43.4vw;
  top: -0.5vw;
}

.single_sqr {
  position: absolute;
  width: 4vw;
  height: 6vw;
  left: 30vw;
  top: 0.5vw;
}

.double_circle_small {
  position: absolute;
  width: 7vw;
  height: 7vw;
  left: 14.8vw;
  top: 0.5vw;
}

.cross_small {
  position: absolute;
  width: 7.4vw;
  height: 7.4vw;
  left: 30.2vw;
  top: -1.04vw;
}

.overlap_sqr {
  position: absolute;
  width: 10.4vw;
  height: 15.1.04vw;
  left: 45.7vw;
  top: -3vw;
}

.double_square {
  position: absolute;
  width: 5.5vw;
  height: 8.3vw;
  left: 4vw;
  top: -15vw;
}

/* login forms */

.login-forms {
  position: absolute;
  width: 32.4vw;
  height: 36.8vw;
  left: 59.8vw;
  top: 7vw;
}

.signin_bg {
  position: relative;
  left: 0.5vw;
  right: 0.5vw;
  top: 0.5vw;
  bottom: 0.5vw;
  width: 31.4vw;
  height: 35.8vw;
  background: #f2f3f7;
  box-shadow: 6px -6px 16px #becde2;
  border-radius: 20px;
  z-index: 0;
  /* onclick register btn */
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.signin_text, .register_text {
  position: absolute;
  height: 1.04vw;
  top: 2.7vw;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.45vw;
  line-height: 1.04vw;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3b5266;
  text-shadow: 6px 6px 16px #8c94a0, -6px -6px 16px #ffffff;
  z-index: 2;
  cursor: pointer;
}

.signin_text {
  left: 5.6vw;
}

.register_text {
  left: 20.78vw;
}

.form_tab_right, .form_tab_left {
  position: relative;
  width: 16.82vw;
  height: 5.36vw;
  top: 0.5vw;
  z-index: 1;
  cursor: pointer;
}

.form_tab_right {
  left: -16.3vw;
}

/* onclick register tab */

/* .form_tab_left {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  left: -30.8vw;
} */

.username, .password {
  position: absolute;
  background: #f2f3f7;
  box-shadow: inset -6px -6px 6px #ffffff, inset 6px 6px 6px #becde2;
  border-radius: 8px;
  border: none;
  padding: 1.04vw;
  height: 1.5625vw;
  width: 23.4vw;
  left: calc(50% - 23.4vw / 2);
  /* font */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625vw;
  line-height: 1.04vw;
  display: flex;
  align-items: center;
  color: #456078;
}

.username {
  top: 11.1vw;
}

.register_name_row {
  position: absolute;
  width: 23.4vw;
  height: 1.5625vw;
  left: calc(50% - 23.4vw / 2);
  top: 8.3vw;
  /* display: flex; */
  /* align-items: center; */
}

.firstname, .lastname, .email, .password_register {
  position: absolute;
  height: 1.5625vw;
  background: #f2f3f7;
  /* btn inner shadow - light */
  box-shadow: inset -6px -6px 6px #ffffff, inset 6px 6px 6px #becde2;
  border-radius: 8px;
  border: none;
  padding: 1.04vw;
  /* text */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625vw;
  line-height: 1.04vw;
  /* identical to box height, or 100% */
  display: flex;
  align-items: center;
  /* font medium dark */
  color: #456078;
}

.firstname {
  left: calc(50% - 11.19vw / 2 - 6.12vw);
  /* top: 159px; */
  width: 11.19vw;
}

.lastname {
  left: calc(50% - 11.19vw / 2 + 6.12vw);
  /* top: 159px; */
  width: 11.19vw;
}

.email {
  left: calc(50% - 23.4vw / 2);
  top: 11.61vw;
  width: 23.4vw;
}

.password {
  top: 14.21vw;
}

.password_register {
  left: calc(50% - 23.4vw / 2);
  top: 14.73vw;
  width: 23.4vw;
}

.allow_tnc {
  position: absolute;
  width: 10.83vw;
  height: 1.04vw;
  left: calc(50% - 10.83vw / 2);
  top: 17.86vw;
}

.tnc_checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  /* transform: scale(3); */
  opacity: 0;
  left: calc(50% - 20px / 2 - 94px);
  cursor: pointer;
  /* top: 429px; */
}

.checkmark {
  position: absolute;
  left: calc(50% - 20px / 2 - 94px);
  height: 20px;
  width: 20px;
  background-color: #f2f3f7;
  box-shadow: inset -6px -6px 6px #ffffff, inset 6px 6px 6px #becde2;
  border-radius: 4px;
}

.allow_tnc input:checked~.checkmark {
  background: linear-gradient(135deg, #028090 0%, #02c39a 100%);
  box-shadow: inset 6px 6px 6px #015d69, inset -6px -6px 6px rgba(255, 255, 255, 0.25);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.allow_tnc input:checked~.checkmark:after {
  display: block;
}

.allow_tnc .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tnc_label {
  position: absolute;
  width: 10.27vw;
  height: 1.04vw;
  left: calc(50% - 9.72vw / 2 + 0.78vw);
  /* top: 0.3125vw; */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.73vw;
  line-height: 1.04vw;
  /* identical to box height, or 91% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #456078;
}

.signin_btn {
  position: absolute;
  left: calc(50% - 5.72vw / 2);
  top: 17.34vw;
}

.register_btn {
  position: absolute;
  left: calc(50% - 6.25vw / 2);
  top: 20.5vw;
}

.google_signin {
  top: 21.5vw;
}

.google_register {
  top: 24.63vw;
}

.google_signin_btn p, .linkedin_signin_btn p {
  margin-left: 2.5vw;
}

.google_signin_btn .google_icon, .linkedin_signin_btn .linkedin_icon {
  position: absolute;
  width: 1.35vw;
  height: 1.35vw;
  left: calc(50% - 1.35vw / 2 - 4vw);
  top: calc(50% - 1.35vw / 2);
}

.linkedin_signin {
  top: 25.47vw;
}

.linkedin_register {
  top: 28.6vw;
}

.google_signin_btn, .linkedin_signin_btn {
  display: flex;
  flex-direction: row;
  padding: 0.52vw 1.04vw;
  position: absolute;
  /* width: 15.625vw; */
  /* height: 3.125vw; */
  left: calc(50% - 11.51vw/2 + 0.03vw);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.83vw;
  line-height: 1.04vw;
  /* font dark */
  color: #3b5266;
  background: #f2f3f7;
  /* btn drop shadow - light */
  box-shadow: -6px -6px 6px #ffffff, 6px 6px 6px #becde2;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.google_signin_btn:hover, .linkedin_signin_btn:hover {
  box-shadow: inset -6px -6px 6px #ffffff, inset 6px 6px 6px #becde2;
}

/*blog view catergory title*/
.blog_view_catergory_title{
  position: relative;
  width: 6;
  height: 2.04vw;
  left: -2vw;
  top: 0vw;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 1.04vw;
  /* identical to box height, or 62% */
  display: flex;
  align-items: center;
  color: #456078;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0px 1.8vw;
}
/*blog view catergory box*/
.blg_view_catergory_type_box1{
  position: absolute;
  width: 10vw;
  height: 3.12vw;
  left: -2.5vw;
  top: 3vw;
  /* bg medium white */
  background: #F2F3F7;
  /* btn inner shadow - light */
  box-shadow: inset -6px -6px 6px #FFFFFF, inset 6px 6px 6px #BECDE2;
  border-radius: 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  margin: 0px 35px;
}

/*blog view catergory type*/
.blog_view_catergory_type{
  position: absolute;
  width: 7.8vw;
  height: 1.04vw;
  left: 1.04vw;
  top: 1.04vw;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  line-height: 1.04vw;
  /* identical to box height, or 91% */
  display: flex;
  align-items: center;
  text-align: center;
  /* font dark */
  color: #3B5266;
}
/*blog view catergory name*/
.blog_view_catergory_name{
  position: absolute;
  width: 7.96vw;
  height: 1.04;
  left: 1.04vw;
  top: 0.8vw;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.14vw;
  line-height: 1.04vw;
  /* identical to box height, or 91% */
  display: flex;
  align-items: center;
  color: #456078;
}

/*blog view resent posts box*/
.blog_view_resent_posts{
  display: flex;
  flex-direction: column;
  padding: 2.8vw 1.04vw;
  position: absolute;
  width: 22vw;
  height: 30vw;
  left: 0vw;
  top: 17vw;
  /* bg medium white */
  background: #F2F3F7;
  /* btn drop shadow - light */
  box-shadow: -6px -6px 6px #FFFFFF, 6px 6px 6px #BECDE2;
  border-radius: 2.08vw;

}

.blog_view_resent_title{
  position: relative;
  width: 7.7vw;
  height: 1.04vw;
  left: -1.75vw;
  top: 2.08;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 1.04vw;
  display: flex;
  align-items: center;
  /* font dark */
  color: #3B5266;
  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0px 35px;
}
.blog_view_resent_box{
  display: flex;
  flex-direction: row;
  padding: 1.04vw;
  position: absolute;
  width: 14.16vw;
  height: 6.3vw;
  left: -1.04vw;
  top: 5.9vw;
  /* bg medium white */
  background: #F2F3F7;
  /* btn inner shadow - light */
  box-shadow: inset -6px -6px 6px #FFFFFF, inset 6px 6px 6px #BECDE2;
  border-radius: 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: flex-start;
  margin: 0px 35px;
}
.blog_view_resent_detail{
  position: static;
  width: 12.08vw;
  height: 4.21vw;
  left: 1.04vw;
  top: 1.04vw;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.04vw;
  line-height: 135.4%;
  /* or 27px */
  display: flex;
  align-items: center;
  /* font dark */
  color: #3B5266;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;
}


/*.... blog view....*/
.blog_post_title{
  position: absolute;
  width: 54.68vw;
  height: 2.60vw;
  left: 14vw;
  top: 8vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 2.91vw;
  line-height: 1.04vw;
  /* or 36% */
  display: flex;
  align-items: center;
  /* font dark */
  color: #3B5266;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 60px;
}
/*blog image*/
.blog_view_image{
  position: absolute;
  width: 54.68vw;
  height: 23.43vw;
  left: 14vw;
  top: 13.72vw;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  margin: 0px 60px;
}


/*blog content*/
.blog_content_detail{
  position: absolute;
  width: 54.68vw;
  height: 18.22vw;
  left: 14vw;
  top: 39vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 1.8vw;
  /* or 219% */
  text-align: justify;
  /* font dark */
  color: #3B5266;
  /* Inside Auto Layout */
  flex: none;
  order: 2;
  align-self: center;
  margin: 0px 60px;

}


/*blog view resent catergory*/
.blog_view{
  display: flex;
  flex-direction: column;
  padding: 1.8vw 1.40vw;
  position: relative;
  width: 22vw;
  height: 14.58vw;
  left: 75.93vw;
  top: 12vw;
  background: #F2F3F7;
  /* btn drop shadow - light */
  box-shadow: -6px -6px 6px #FFFFFF, 6px 6px 6px #BECDE2;
  border-radius: 2.08vw;
}
/*blog view catergory title*/
.blog_view_catergory_title{
  position: relative;
  width: 6;
  height: 2.04vw;
  left: -2vw;
  top: 0vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 1.04vw;
  /* identical to box height, or 62% */
  display: flex;
  align-items: center;
  color: #456078;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0px 1.8vw;
}
/*blog view catergory box*/
.blg_view_catergory_type_box1{
  position: absolute;
  width: 10vw;
  height: 3.12vw;
  left: -2.5vw;
  top: 3vw;
  /* bg medium white */
  background: #F2F3F7;
  /* btn inner shadow - light */
  box-shadow: inset -6px -6px 6px #FFFFFF, inset 6px 6px 6px #BECDE2;
  border-radius: 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  margin: 0px 35px;
}

/*blog view catergory type*/
.blog_view_catergory_type{
  position: absolute;
  width: 7.8vw;
  height: 1.04vw;
  left: 1.04vw;
  top: 1.04vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  line-height: 1.04vw;
  /* identical to box height, or 91% */
  display: flex;
  align-items: center;
  text-align: center;
  /* font dark */
  color: #3B5266;
}
/*blog view catergory name*/
.blog_view_catergory_name{
  position: absolute;
  width: 7.96vw;
  height: 1.04;
  left: 1.04vw;
  top: 0.8vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.14vw;
  line-height: 1.04vw;
  /* identical to box height, or 91% */
  display: flex;
  align-items: center;
  color: #456078;
}

/*blog view resent posts box*/
.blog_view_resent_posts{
  display: flex;
  flex-direction: column;
  padding: 2.8vw 1.04vw;
  position: absolute;
  width: 22vw;
  height: 30vw;
  left: 0vw;
  top: 17vw;
  /* bg medium white */
  background: #F2F3F7;
  /* btn drop shadow - light */
  box-shadow: -6px -6px 6px #FFFFFF, 6px 6px 6px #BECDE2;
  border-radius: 2.08vw;

}

.blog_view_resent_title{
  position: relative;
  width: 7.7vw;
  height: 1.04vw;
  left: -1.75vw;
  top: 2.08;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 1.04vw;
  display: flex;
  align-items: center;
  /* font dark */
  color: #3B5266;
  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0px 35px;
}
.blog_view_resent_box{
  display: flex;
  flex-direction: row;
  padding: 1.04vw;
  position: absolute;
  width: 14.16vw;
  height: 6.3vw;
  left: -1vw;
  top: 5.9vw;
  /* bg medium white */
  background: #F2F3F7;
  /* btn inner shadow - light */
  box-shadow: inset -6px -6px 6px #FFFFFF, inset 6px 6px 6px #BECDE2;
  border-radius: 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: flex-start;
  margin: 0px 35px;
}
.blog_view_resent_detail{
  position: static;
width: 12.08vw;
height: 4.21vw;
left: 1.04vw;
top: 1.04vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.04vw;
line-height: 135.4%;
/* or 27px */
display: flex;
align-items: center;
/* font dark */
color: #3B5266;
/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
margin: 10px 0px;
}

/* --Question Forum-- */

.forum_header {
  position: absolute;
  height: 12.5vw;
  width: 18.23vw;
  left: 25.85vw;
  /* right: 74vw; */
  top: 8vw;
}

/*bolg icons*/
.forumicon{
  position: absolute;
  height: 10vw;
  left: 0vw;
  right: 78.43vw;
  top: 1.34vw;
}
/*small square*/
.forumicon2{
  position: absolute;
  height: 5.8vw;
  left: -1vw;
  right: 94.42vw;
  top: 24.02vw;
}
/*small circle*/
.forumicon2{
  position: absolute;
height: 386px;
left: 638px;
right: 479px;
top: 267px;

}
/*blog text*/
.forumicon5{
  position: absolute;
  height: 17.97vw;
  left: 11.01vw;
  right: 74.01vw;
  top: 8.04vw;
}
/*large circle*/
.forumicon6{
  position: absolute;
  height: 9.01vw;
  left: 45.41vw;
  right: 20.57vw;
  top: -2vw;
}
/*note book*/
.forumicon4{
  position: absolute;
  height: 9.37vw;
  left: 60.11vw;
  right: 6.5vw;
  top: 12.17vw;
}
/*cross*/
.forumicon3{
  position: absolute;
  height: 5.57vw;
  left: 48.41vw;
  right: 24.1vw;
  top: 25.85vw;
}

.forum_content{
  position: absolute;
  width: 55.33vw;
  height: 32.87vw;
  left: 27.92vw;
  top: -0vw;
}

.forum_item{
  position: absolute;
  width:44.27vw;
  height: 26.30vw;
  right: 25vw;
  /* left: 22.36vw;  */
  top: 41.14vw;
}

.forum_card{
  display: flex;
  flex-direction: column;
  padding: 0px 2.27vw;
  position: relative;
  width: 33.33vw;
  height: 15.0vw;
  left: 10.8vw;
  top: -0vw;
  /* bg medium white */
  background: #F2F3F7;
  /* btn drop shadow - light */
  box-shadow: -6px -6px 6px #FFFFFF, 6px 6px 6px #BECDE2;
  border-radius: 2.08vw;
}
.forum_card2{
  display: flex;
  flex-direction: column;
  padding: 0px 2.27vw;
  position: relative;
  width: 33.33vw;
  height: 15.0vw;
  left: 10.7vw;
  top: 15.9vw;
  /* bg medium white */
  background: #F2F3F7;
  /* btn drop shadow - light */
  box-shadow: -6px -6px 6px #FFFFFF, 6px 6px 6px #BECDE2;
  border-radius: 2.08vw;
}
.forum_card3{
  display: flex;
  flex-direction: column;
  padding: 0px 2.27vw;
  position: relative;
  width: 33.33vw;
  height: 15.0vw;
  left: 10.7vw;
  top: 31.9vw;
  /* bg medium white */
  background: #F2F3F7;
  /* btn drop shadow - light */
  box-shadow: -6px -6px 6px #FFFFFF, 6px 6px 6px #BECDE2;
  border-radius: 2.08vw;
}
.forum_card4{
  display: flex;
  flex-direction: column;
  padding: 0px 2.27vw;
  position: relative;
  width: 33.33vw;
  height: 15.0vw;
  left: 10. 7vw;
  top: 31.9vw;
  /* bg medium white */
  background: #F2F3F7;
  /* btn drop shadow - light */
  box-shadow: -6px -6px 6px #FFFFFF, 6px 6px 6px #BECDE2;
  border-radius: 2.08vw;
}

.forum_title{
  position: absolute;
  height: 0.45vw;
  left: -1vw;
  right: 1.82vw;
  top: 2vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20.25vw;
  line-height: 1.45;
  /* font dark */
  color: #3B5266;
  /* Inside Auto Layout */
  flex: none;
  order: 2;
  align-self: left;
  margin: 0px 15px;
}

.contentt{
  position: static;
  height: 0.2vw;
  left: -10vw;
  right: 1.82vw;
  top: 10vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.98vw;
  line-height: 135.4%;
  text-align: justify;
  color: #3B5266;
  flex: none;
  order: 3;
  align-self: center;
  margin: 0px 15px;
}


.forum_by{
  position: static;
  height: 0.989583vw;
  left: 37.812500vw;
  right: 1.822917vw;
  top: 8.906250vw;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 0.833333vw;
  line-height: 0.989583vw;
  /* identical to box height */

  text-align: right;

  /* font dark */

  color: #3B5266;

  /* Inside Auto Layout */

  flex: none;
  order: 3;
  align-self: flex-end;
  margin: 0vw 0.781250vw;
}

.recent_question{
  display: flex;
  flex-direction: column;
  padding: 2.08vw 1.56vw; 
  position: absolute;
  width: 25vw;
  height: 28vw;
  left: 60.93vw;
  top: 57.38vw;
  background: #F2F3F7;
  /* btn drop shadow - light */
  box-shadow: -6px -6px 6px #FFFFFF, 6px 6px 6px #BECDE2;
  border-radius: 2.08vw;  
}

.recent_question_heading{
  position: relative;
  width: 13.89vw;
  height: 1.04vw;
  left: -2vw;
  top: 1.40vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.66vw;
  line-height: 1.04vw;
  /* identical to box height, or 62% */
  display: flex;
  align-items: center;
  color: #456078;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0px 1.8vw;
}

/*resent post title*/
.recent_question_title{
  display: flex;
  flex-direction: row;
  padding: 1.04vw;
  position: absolute;
  width: 21.87vw;
  height: 4.89vw;
  left: -1vw;
  top: 5.96vw;
  background: #F2F3F7;
  /* btn inner shadow - light */
  box-shadow: inset -6px -6px 6px #FFFFFF, inset 6px 6px 6px #BECDE2;
  border-radius: 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: flex-start;
  margin: 0px 1.8vw;
}

.recent_question_title2{
  display: flex;
  flex-direction: row;
  padding: 1.04vw;
  position: absolute;
  width: 21.87vw;
  height: 4.89vw;
  left: -1vw;
  top: 11.36vw;
  background: #F2F3F7;
  /* btn inner shadow - light */
  box-shadow: inset -6px -6px 6px #FFFFFF, inset 6px 6px 6px #BECDE2;
  border-radius: 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: flex-start;
  margin: 0px 1.8vw;
}

.recent_question_title3{
  display: flex;
  flex-direction: row;
  padding: 1.04vw;
  position: absolute;
  width: 21.87vw;
  height: 4.89vw;
  left: -1vw;
  top: 16.56vw;
  background: #F2F3F7;
  /* btn inner shadow - light */
  box-shadow: inset -6px -6px 6px #FFFFFF, inset 6px 6px 6px #BECDE2;
  border-radius: 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: flex-start;
  margin: 0px 1.8vw;
}
.recent_question_title4{
  display: flex;
  flex-direction: row;
  padding: 1.04vw;
  position: absolute;
  width: 21.87vw;
  height: 4.89vw;
  left: -1vw;
  top: 21.96vw;
  background: #F2F3F7;
  /* btn inner shadow - light */
  box-shadow: inset -6px -6px 6px #FFFFFF, inset 6px 6px 6px #BECDE2;
  border-radius: 20px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: flex-start;
  margin: 0px 1.8vw;
}

.catergory_types2{
  position: absolute;
  width: 10.05vw;
  height: 3.12vw;
  left: 12vw;
  top: 1.68vw;
  background: #F2F3F7;
  /* btn inner shadow - light */
  box-shadow: inset -6px -6px 6px #FFFFFF, inset 6px 6px 6px #BECDE2;
  border-radius: 20px; 
}
.catergory_types3{
  position: absolute;
  width: 10.05vw;
  height: 3.12vw;
  left: 12vw;
  top: 5.68vw;
  background: #F2F3F7;
  /* btn inner shadow - light */
  box-shadow: inset -6px -6px 6px #FFFFFF, inset 6px 6px 6px #BECDE2;
  border-radius: 20px; 
}
.catergory_types4{
  position: absolute;
  width: 10.05vw;
  height: 3.12vw;
  left: 0vw;
  top: 5.68vw;
  background: #F2F3F7;
  /* btn inner shadow - light */
  box-shadow: inset -6px -6px 6px #FFFFFF, inset 6px 6px 6px #BECDE2;
  border-radius: 20px; 
}

/*Page switching buttons */
.previous_page{
width: 32px;
height: 32px;
left: 32px;
top: 32px;
border-radius: 50px;
/* bg medium white */

background: #F2F3F7;
transform: rotate(180deg);
}
